{% extends "admin/layout/layoutSpace.twig" %}

{% block title %}
    Statistiques
{% endblock title %}

{% block container %}
    {% for key, value in param.stat %}
        
        <div class="span3">
            <div class="widget-box">
                <div class="widget-title"><span class="icon"><i class="icon-bar-chart"></i></span>
                    <h5>{{ key | capitalize }}</h5>
                </div>
                <div class="widget-content">
                    <p>{{ value }}</p>
                    
                    <a href="{{ WEBROOT ~ 'admin/statistic/reset?entity=' ~ key }}"><button class="btn btn-danger">Réinitialiser</button></a>
                </div>
            </div>
        </div>
    
    {% endfor %}
{% endblock container %}

{% block resFoot %}
    {% include "admin/inc/res-general.twig" %}
{% endblock resFoot %}