<!DOCTYPE html>
<html lang="fr">

<head>

    {% block head %}
        <title>Admin</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}

    {% block resHead %}

    {% endblock resHead%}

</head>
<body>	
    {% block body %}

    {% endblock body %}

    {% block resFoot %}
        
    {% endblock resFoot %}
</body>
</html>